$background: white;
$text: "Nunito";
$color: rgb(0, 0, 0);

html,
body {
  background: $background;
  color: $color;
  font-family: $text;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  background-color: $color;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  color: #eaeaea;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $color;
}

li {
  float: left;
}

li {
  display: block;
  color: rgb(247, 242, 242);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
